.container{
    font-size: 16px;
    display: flex;
    gap:10px;
    justify-content: center;
    flex-wrap:wrap;
    flex-shrink: 1;
   
    
    
}
.t1,.t2,.t3{
    height:400px;
    width: 300px;
    border: 4px solid black;
    flex-shrink: 0;
   
}

img{
  width: 100%;
  height: 200px;
}

